<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center" style="color: rgb(253, 253, 253);">¡Bienvenido!  {{ userAlum }}</h1>
  <ion-card>
    <ion-card-content>
      <ion-button [routerLink]="['/qr-code']" expand="block" color="primary">Registrar asistencia</ion-button>
    </ion-card-content>
  </ion-card>
  <div id="logout">
    <ion-button (click)="logout()" [routerLink]="['/login']" expand="block" color="primary" class="ion-padding-top">Cerrar Sesión</ion-button>
  </div>
  
</ion-content>